@font-face {
    font-family: 'Miss Fajardose';
    src: url('MissFajardose-Regular.woff2') format('woff2'),
        url('MissFajardose-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

